# AN ANALYSIS OF AVIATION ACCIDENTS(1919 TO 2023)

<img src="Images/Airplane_Analysis.jpeg" style="width: 1980px; height: auto;" alt="Image description">

## **Overview**

This analysis aims at identifying the least-risk aircraft type that would encourage a well-informed purchase based on historical accidents data. This will be done by examining several variables such as accident frequency, fatality rates, aircraft type, operator and geographical distribution. This will consequently highlight the aircraft and operational environments that are associated with the highest and lowest levels of risk. Afterwards, this data will be used by the company to adjust capital investment, training programs and operational focus to improve resource allocation and minimize financial exposure in this new business endeavor.

## **Business Problem**

The company wants to expand to the aviation industry so as to diversify its portfolio. Given that this involves purchasing and operating arplanes for commercial and private enterprises, all the risks involved have to be mitigated to a sustainable level. This ensures that the resource allocation will not only yield profits but also allows the the company to better serve its clients since it is expanding the scope of services they can offer. Using the NTSB Aviation Accidents data, I describe patterns in accidents frequency and accidents location  to anticipate the lowest-risk aircraft to invest in.

## **Data Understanding**

The [dataset](https://www.kaggle.com/datasets/drealbash/aviation-accident-from-1919-2023/data) for this analysis contains a compiled list of publicly available aviation accident reports that occurred over a period that spans well over a century: 1919 to 2023. The data set thus provides the date, location and aircraft type for each accident as well as other characteristics (e.g. registration and operator). The dataset contains a total of 23,967 records and 9 fields.

In [1]:
# Importing the necessary libraries
import pandas as pd

In [2]:
# Loading the dataset
df= pd.read_csv('Data/aviation-accident-data-2023-05-16.csv')
df

,date,type,registration,operator,fatalities,location,country,cat,year
0,date unk.,Antonov An-12B,T-1206,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
1,date unk.,Antonov An-12B,T-1204,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
2,date unk.,Antonov An-12B,T-1201,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
3,date unk.,Antonov An-12BK,NaN,Soviet AF,NaN,Tiksi Airport (IKS),Russia,A1,unknown
4,date unk.,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown
...,...,...,...,...,...,...,...,...,...
23962,11-MAY-2023,Hawker 900XP,PK-LRU,Angkasa Super Services,0,Maleo Airport (MOH),Indonesia,A2,2023
23963,11-MAY-2023,Cessna 208B Grand Caravan,PK-NGA,Nasional Global Aviasi,0,Fentheik Airstrip,Indonesia,A2,2023
23964,12-MAY-2023,Cessna 208B Grand Caravan,5X-RBR,Bar Aviation,0,Kampala-Kajjansi...,Uganda,A1,2023
23965,14-MAY-2023,Boeing 747-4R7F,LX-OCV,Cargolux,0,Luxembourg-Finde...,Luxembourg,A2,2023
23966,15-MAY-2023,Learjet 35A,D-CGFQ,GFD,2,Hohn Air Base,Germany,A1,2023

Initial exploration revealed that accidents involved in this dataset spanned multiple countries with most of them having none or very few fatalities with each accident being grouped into a specific similar category. There was also a significant number of missing values in the dataset which needed to be addressed otherwise, it would affect the analysis.

### Data Quality

The dataset involves the following 9 columns:
* **Date of Accident**: This column contains the dates of each aviation accident, ranging from 1919 to 2023. The dates are not in a standardised format while some are also missing due to the (date unk.) label

* **Type**: This column indicates the model of the aircraft that was involved in the accident. This column has no missing values.

* **Registration**: This column contains the unique identification code that is usually assigned to each aircraft. It helps identify and track specific aircraft involved in incidents. This column has 1548 missing values.

* **Operator**: This column shows the airline that commands that specific aircraft that was involved in the accident.This column has 4 missing values.

* **Fatalities**: This column records the count of fatalities associated with each aviation accident. It provides information on the number of fatalities both ground fatality and aircraft fatality. This column contains 3938 missing values. Fatalities stored as strings; requires numeric conversion.

* **Location**: This column shows the specific region within the country where each accident occurred. It could include details such as city names, airports. It contains 948 missing values.

* **Country**: This column indicates the country where each aviation accident took place. This column has no missing values.

* **Accident Category**: This column classify each aviation accident into different categories based on factors such as the cause, nature, or severity of the incident. This column has no missing values. Examples of categories: 
    * A = Accident

    * I = Incident

    * H = Hijacking

    * C = Criminal occurrence (sabotage, shoot down) O= other occurrence (ground fire, sabotage)

    * U = type of occurrence unknown

    * 1 = hull-loss

    * 2 = repairable damage

    * E.g. the A1 category means an Accident resulting in a total loss of the plane.



* **Year**: This is a column that includes the extracted year-data from the date column. It has no missing values but has them labelled as 'Unknown'.

In [3]:
# Displaying summary about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23967 non-null  object
 1   type          23967 non-null  object
 2   registration  22419 non-null  object
 3   operator      23963 non-null  object
 4   fatalities    20029 non-null  object
 5   location      23019 non-null  object
 6   country       23967 non-null  object
 7   cat           23967 non-null  object
 8   year          23967 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB

In [4]:
# Displaying the columns with null values
df.isnull().sum()

date               0
type               0
registration    1548
operator           4
fatalities      3938
location         948
country            0
cat                0
year               0
dtype: int64

## **Data Preparation**

Before any meaningful insights can be drawn, the dataset must be free from any significant errors or inconsistencies. As a result, the following data preparation steps were in order:

### 1. Removing Duplicates

In [5]:
# Checking the number of duplicate rows
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 115

In [6]:
# Removing duplicate rows
df_raw = df.drop_duplicates()
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23852 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23852 non-null  object
 1   type          23852 non-null  object
 2   registration  22418 non-null  object
 3   operator      23848 non-null  object
 4   fatalities    20019 non-null  object
 5   location      22920 non-null  object
 6   country       23852 non-null  object
 7   cat           23852 non-null  object
 8   year          23852 non-null  object
dtypes: object(9)
memory usage: 1.8+ MB

### 2. Standardizing Inconsistent Formatting

In [7]:
# Standardizing column names
df_raw.columns = df_raw.columns.str.title()

In [8]:
# Removing leading and trailing spaces from the string columns
df_raw.loc[:, "Type"] = df_raw["Type"].str.strip()
df_raw.loc[:, "Registration"] = df_raw["Registration"].str.strip()
df_raw.loc[:, "Operator"] = df_raw["Operator"].str.strip()
df_raw.loc[:, "Location"] = df_raw["Location"].str.strip()
df_raw.loc[:, "Country"] = df_raw["Country"].str.strip()    
df_raw.loc[:, "Cat"] = df_raw["Cat"].str.strip()

c:\Users\HP\anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:1783: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [9]:
# Checking the current state of the dataset
df_raw.head(10)

,Date,Type,Registration,Operator,Fatalities,Location,Country,Cat,Year
0,date unk.,Antonov An-12B,T-1206,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
1,date unk.,Antonov An-12B,T-1204,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
2,date unk.,Antonov An-12B,T-1201,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
3,date unk.,Antonov An-12BK,NaN,Soviet AF,NaN,Tiksi Airport (IKS),Russia,A1,unknown
4,date unk.,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown
5,date unk.,Antonov An-12BP,CCCP-12172,Soviet AF,NaN,NaN,Russia,U1,unknown
6,date unk.,Antonov An-2,CCCP-N574,"GUSMP, Directorate of Polar Aviation",NaN,unknown,Russia,A1,unknown
7,date unk.,Antonov An-2,CCCP-01216,Aeroflot,0,Chita region,Russia,A2,unknown
8,date unk.,Antonov An-24B,RA-47794,Russian AF,0,NaN,Russia,A1,unknown
9,date unk.,Antonov An-26,01 red,Soviet AF,0,Orenburg Air Base,Russia,O1,unknown

### 3. Changing the Data types

In [10]:
# Checking the Data types available in the dataset
df_raw.dtypes

Date            object
Type            object
Registration    object
Operator        object
Fatalities      object
Location        object
Country         object
Cat             object
Year            object
dtype: object

From the information in the dataset, the data types are labelled as 'Object' which implies that most of the columns are housing multiple data types. For accurate analysis, it is necessary to have only 1 data type per column.

In [11]:
# Converting the Columns to respective data types with errors being set to Nan
df_raw.loc[:, 'Date'] = pd.to_datetime(df_raw['Date'], errors='coerce') # Date is a date value
df_raw.loc[:, 'Type'] = df_raw["Type"].astype('string') # Type is a String 
df_raw.loc[:, 'Registration'] = df_raw['Registration'].astype("string") # Registration is a String
df_raw.loc[:, 'Operator'] = df_raw['Operator'].astype("string") # Operator is a String
df_raw.loc[:, 'Fatalities'] = pd.to_numeric(df_raw['Fatalities'], errors="coerce").astype("Int64") # Fatalities is a Number
df_raw.loc[:, 'Location'] = df_raw["Location"].astype('string') # Location is a String
df_raw.loc[:, 'Country'] = df_raw["Country"].astype('string') # Country is a String
df_raw.loc[:, 'Cat'] = df_raw["Cat"].astype('string') # Cat is a String values
df_raw.loc[:, 'Year'] = pd.to_numeric(df_raw['Year'], errors="coerce").astype("Int64") # Year is a Number

c:\Users\HP\anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:1783: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value
c:\Users\HP\anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [12]:
# Checking if the data types of the columns have changed
df_raw.dtypes

Date            datetime64[ns]
Type                    string
Registration            string
Operator                string
Fatalities               Int64
Location                string
Country                 string
Cat                     string
Year                     Int64
dtype: object

### 4. Dealing With Missing Values

The following fields had missing values:

In [13]:
df_raw.isna().sum()

Date             549
Type               0
Registration    1434
Operator           4
Fatalities      4186
Location         932
Country            0
Cat                0
Year              61
dtype: int64

From the dataset, I noticed that for every missing year value, the date value was also missing. This consequently means that no detailed analysis can be made from the missing year values. Imputing them would skew the results since the range is very wide, hence decided to remove the null values in the year column.

In [14]:
# Removing null values in the Year column
df_raw = df_raw.dropna(subset=['Year'])
df_raw.isna().sum()

Date             488
Type               0
Registration    1431
Operator           4
Fatalities      4150
Location         904
Country            0
Cat                0
Year               0
dtype: int64

I also recognized that even though the 'country' column had no missing values, some of the countries were actually non-existent since some were labelled 'Unknown' while others labelled with '?'. To counter this inconsistency, I decided to change the two to be one consolidated value: 'Unspecified'. Deleting this rows with this values would significantly affect the analysis and reduce the dataset

In [15]:
# Viewing all the countries in the dataset without truncating the output
# # with pd.option_context("display.max_rows", None, 
#                        "display.max_columns", None):
#     print(pd.DataFrame(df_raw["Country"].unique(), columns=["Unique Countries"]))

# Replacing the 2 unique countries (Unknown and ?) with Unspecified
df_raw["Country"] = df_raw["Country"].replace({"Unknown country": "Unspecified", "?": "Unspecified"})

As for the Location, I also decided to include it in the analysis with the null values also being recorded as 'Unspecified'

In [16]:
# Viewing the location with missing values without truncating
# with pd.option_context("display.max_rows", None, "display.max_columns", None):
  # display(df_raw[df_raw["Location"].isna()])

# Filling the missing values in the Location column with 'Unspecified'
df_raw["Location"] = df_raw["Location"].fillna('Unspecified')
df_raw

,Date,Type,Registration,Operator,Fatalities,Location,Country,Cat,Year
61,1919-08-02,Caproni Ca.48,<NA>,Caproni,14,Verona,Italy,A1,1919
62,1919-08-11,Felixstowe Fury,N123,RAF,1,near Felixtowe RNAS,U.K.,A1,1919
63,1920-02-23,Handley Page O/7,G-EANV,Handley Page Transport,0,"Acadia Siding, C...",South Africa,A1,1920
64,1920-02-25,Handley Page O/400,G-EAMC,Handley Page Transport,0,near El Shereik,Sudan,A1,1920
65,1920-06-30,Handley Page O/400,G-EAKE,Handley Page Transport,0,ÃƒÂ–stanÃƒÂ¥,Sweden,A1,1920
...,...,...,...,...,...,...,...,...,...
23962,2023-05-11,Hawker 900XP,PK-LRU,Angkasa Super Services,0,Maleo Airport (MOH),Indonesia,A2,2023
23963,2023-05-11,Cessna 208B Grand Caravan,PK-NGA,Nasional Global Aviasi,0,Fentheik Airstrip,Indonesia,A2,2023
23964,2023-05-12,Cessna 208B Grand Caravan,5X-RBR,Bar Aviation,0,Kampala-Kajjansi...,Uganda,A1,2023
23965,2023-05-14,Boeing 747-4R7F,LX-OCV,Cargolux,0,Luxembourg-Finde...,Luxembourg,A2,2023
23966,2023-05-15,Learjet 35A,D-CGFQ,GFD,2,Hohn Air Base,Germany,A1,2023

As for the operator, there is no logical manner to impute an operator name. This means that the most logical solution would be to assign the null operator values as 'Unknown' to avoid skewing any of the results during the analysis as a result of an odd operator name that has been imputed

In [17]:
# Replacing the null values in the Operator column with 'Unknown'
df_raw["Operator"] = df_raw["Operator"].fillna('Unknown')

The registration column is a unique key which represents each aircraft. Imputing would be difficult because any misjudged error could refer to another aircraft which would lead to misguided insights. As a result, it decided to categorise all null values in the Registration column as 'Undisclosed'

In [18]:
# Replacing the null values in the Registration column with 'Undisclosed'
df_raw["Registration"] = df_raw["Registration"].fillna('Undisclosed')

In [19]:
# Checking the remaining null values
df_raw.isna().sum()

Date             488
Type               0
Registration       0
Operator           0
Fatalities      4150
Location           0
Country            0
Cat                0
Year               0
dtype: int64

As for the remaining date values, all the null values have a corresponding year value so deleting them would reduce our accuracy. They are null because only the month and day are missing but the year is included. For accuracy, I will replace those dates with N/A since the rest of the rows contain important information

In [20]:
# Show the dates where the date is null
# with pd.option_context("display.max_rows", None, "display.max_columns", None):
   #display(df_raw[df_raw["Date"].isna()])

# Replacing the null values in the Date column with 'N/A'
df_raw["Date"] = df_raw["Date"].fillna('N/A')
df_raw

,Date,Type,Registration,Operator,Fatalities,Location,Country,Cat,Year
61,1919-08-02 00:00:00,Caproni Ca.48,Undisclosed,Caproni,14,Verona,Italy,A1,1919
62,1919-08-11 00:00:00,Felixstowe Fury,N123,RAF,1,near Felixtowe RNAS,U.K.,A1,1919
63,1920-02-23 00:00:00,Handley Page O/7,G-EANV,Handley Page Transport,0,"Acadia Siding, C...",South Africa,A1,1920
64,1920-02-25 00:00:00,Handley Page O/400,G-EAMC,Handley Page Transport,0,near El Shereik,Sudan,A1,1920
65,1920-06-30 00:00:00,Handley Page O/400,G-EAKE,Handley Page Transport,0,ÃƒÂ–stanÃƒÂ¥,Sweden,A1,1920
...,...,...,...,...,...,...,...,...,...
23962,2023-05-11 00:00:00,Hawker 900XP,PK-LRU,Angkasa Super Services,0,Maleo Airport (MOH),Indonesia,A2,2023
23963,2023-05-11 00:00:00,Cessna 208B Grand Caravan,PK-NGA,Nasional Global Aviasi,0,Fentheik Airstrip,Indonesia,A2,2023
23964,2023-05-12 00:00:00,Cessna 208B Grand Caravan,5X-RBR,Bar Aviation,0,Kampala-Kajjansi...,Uganda,A1,2023
23965,2023-05-14 00:00:00,Boeing 747-4R7F,LX-OCV,Cargolux,0,Luxembourg-Finde...,Luxembourg,A2,2023
23966,2023-05-15 00:00:00,Learjet 35A,D-CGFQ,GFD,2,Hohn Air Base,Germany,A1,2023

In [21]:
# Checking the remaining null values
df_raw.isna().sum()

Date               0
Type               0
Registration       0
Operator           0
Fatalities      4150
Location           0
Country            0
Cat                0
Year               0
dtype: int64

As for the fatalities, I have decided to replace the missing values with the mode instead of the mean. This is because if I decided to use the mean, presence of any outliers that can be due to fatal accidents would affect the value of my analysis. As a result. I replace the missing values with the mode of the fatalities column.

In [22]:
# Replacing the null values in the fatalities column with the mode
mode_fatalities = df_raw['Fatalities'].mode()[0]
df_raw['Fatalities'] = df_raw['Fatalities'].fillna(mode_fatalities)
df_raw.isna().sum()

Date            0
Type            0
Registration    0
Operator        0
Fatalities      0
Location        0
Country         0
Cat             0
Year            0
dtype: int64

In [24]:
# The dataset is now clean and ready for analysis
df_raw.head(20)

,Date,Type,Registration,Operator,Fatalities,Location,Country,Cat,Year
61,1919-08-02 00:00:00,Caproni Ca.48,Undisclosed,Caproni,14,Verona,Italy,A1,1919
62,1919-08-11 00:00:00,Felixstowe Fury,N123,RAF,1,near Felixtowe RNAS,U.K.,A1,1919
63,1920-02-23 00:00:00,Handley Page O/7,G-EANV,Handley Page Transport,0,"Acadia Siding, C...",South Africa,A1,1920
64,1920-02-25 00:00:00,Handley Page O/400,G-EAMC,Handley Page Transport,0,near El Shereik,Sudan,A1,1920
65,1920-06-30 00:00:00,Handley Page O/400,G-EAKE,Handley Page Transport,0,ÃƒÂ–stanÃƒÂ¥,Sweden,A1,1920
66,1920-12-14 00:00:00,Handley Page O/400,G-EAMA,Handley Page Transport,4,Golders Green,U.K.,A1,1920
67,1921-01-15 00:00:00,Aeromarine 75,Undisclosed,Aeromarine Airways,0,Havana harbour,Cuba,O1,1921
68,1921-03-02 00:00:00,Handley Page O/7,G-IAAC,HP Indo-Burmese Transport,0,Meerut,India,O1,1921
69,1921-03-04 00:00:00,Caproni Ca.60 Noviplano,Undisclosed,Caproni,0,Lago Maggiore,Italy,A1,1921
70,1921-08-26 00:00:00,Farman F.60 Goliath,O-BLAN,SNETA,2,near Calais [The Engl...,France,A1,1921
71,1921-09-27 00:00:00,Farman F.60 Goliath,O-BRUN,SNETA,0,Evere Airfield,Belgium,O1,1921
72,1921-09-27 00:00:00,Farman F.60 Goliath,O-BLEU,SNETA,0,Evere Airfield,Belgium,O1,1921
73,1921-12-30 00:00:00,Handley Page O/10,G-EATM,Handley Page Transport,0,Berck-sur-Mer,France,U1,1921
74,1922-01-22 00:00:00,Handley Page O/10,G-EATN,Handley Page Transport,0,near Senlis,France,A1,1922
75,1922-03-31 00:00:00,Handley Page O/7,Undisclosed,Chinese Government,14,near Beijing-Nanyuan ...,China,A1,1922
76,1922-04-07 00:00:00,Farman F.60 Goliath,F-GEAD,Grands Express AÃƒÂ©riens,5,Thieuloy-Saint-A...,France,A1,1922
77,1923-01-13 00:00:00,Aeromarine 75,Undisclosed,Aeromarine Airways,4,"near Havana, Cuba",Atlantic Ocean,A1,1923
78,1923-05-14 00:00:00,Farman F.60 Goliath,F-AEBY,Air Union,6,"Monsures, Somme",France,A1,1923
79,1923-06-25 00:00:00,Farman F.60 Goliath,F-AEDL,Air Union,0,near ÃƒÂ‰taples,France,A1,1923
80,1923-07-10 00:00:00,Handley Page W.8,G-EAPJ,Handley Page Transport,0,Poix,France,A1,1923

In [26]:
# Saving the cleaned dataset to a new CSV file
df_raw.to_csv('Data/aviation-accident-data-cleaned.csv', index=False)